#footer{
    position: fixed;
    bottom: 0%;
    transition: bottom 0.3s;/* Transition effect when sliding down (and up) 使用0.3秒的時間去滑動*/
    z-index: 1;
}
.footer{
    background-color: $primary;
    width: 100%;
    .menu{
        li{
            img{
                padding-right: 10px;
            }
            a{
                color: $text-white;
                font-size: $text-m;
                line-height: 58px;
                padding-right: 40px;
                align-items: center;
                display: flex;
            }
            a:hover{
                text-decoration: none !important;
                color: $secondary;
            }
        }
    }
}

@media(max-width:960px){
    .footer .menu li a span{
    display: none;
    }
    .footer .menu li a{
        padding: 0 20px;
        line-height: 40px;
        }
    .footer .menu li img {
        padding: 10px 0px;
        transform: scale(0.8);
    }
}

